<h1>Edit question</h1>

<%= form_for @question, url: question_path(@question), method: :patch do |f| %>
  <div class="field<%= ' field_error' if @question.errors.any? %>">
    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :title %>
      </div>

      <div class="col-sm-10">
        <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :body %>
      </div>

      <div class="col-sm-10">
        <%= f.text_area :body, class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :description %>
      </div>

      <div class="col-sm-10">
        <%= f.text_area :description %>
      </div>
    </div>
  </div>
  <%= f.submit "Submit question!", class: 'btn btn-primary' %>
<% end %>
