  <h1 class="text-center">Questions</h1>

  <div><%= link_to "Create new question", new_question_path, class: "btn btn-success ml-3" %></div>

  <div class="container-fluid">
    <% @questions.each do |question| %>
    <article class="card mt-3">
      <div class="card-body">
        <h2> <%= question.title %> </h2>
        <p> <%= question.body %> </p>
        <div> <%= question.description %> </div>
        <time><%= question.time%></time>

        <div class="mt-1">     
          <%= link_to 'Show', question_path(question), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_question_path(question), class: "btn btn-secondary" %>
          <%= link_to 'Destroy', question_path(question), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger"%> 
        </div>     
      </div>
    </article>
    <%end %>
  <div>
