<div>
  <h1 class="mb-4"><%= @question.title %></h1>

  <p class="lead my-3">
    <%= @question.body %>
  </p>

  <p class="lead my-3">
    <%= @question.description %>
  </p>

  <time datetime="<%= @question.time %>">
    <%= @question.time %>
  </time>
</div>


