<% if object.errors.any? %>
 <div class="alert alert-danger">
   <ul class="mb-0">
     <% object.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
   </ul>
 </div>
<% end %>