<div class="text-center">
  <h1>Hello world</h1>

  <div>
    <p>
    This is my first Rails application where you can ask questions and provide answers.
    </p>
  </div>
  <div><%= Time.now%></div>   
</div>
