<!DOCTYPE html>
<html>
  <head>
    <title>AskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/assets/application.js', 'data-turbolinks-track': 'reload' %>
    <%= turbo_frame_tag 'turbo-frame' %>
    <%= javascript_tag %>
    <%= javascript_importmap_tags %>

  </head>
 <header class="p-3 bg-dark">
    <div class="container-fluid"> 
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-center">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to "Home", root_url, class: 'nav-link px-2 text-white' %></li>
            <li><%= link_to "Questions list", questions_url, class: 'nav-link px-2 text-white'%></li>
          </ul>
      </nav>
    </div>
  </header>

  <main class="container mt-3">
    <% flash.each do |k, v|%>
      <%k.to_s + " " + v.to_s %>
    <% end %>

    <%= yield %>
  </main>
</html>
